.form-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
   
.form-input {
    padding: 10px;
    margin-right: 5px;
    background-color: #041220;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 300px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

.form-button {
    height: 45px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 80px;
    background-color: #041220;
    font-size: 20px;
}

.form-button:hover {
    background-color: #3a0162;
    cursor: pointer;
}

.form-button:active {
    background-color: #49017c;
}